.entry-list-item {
  display: flex;
  margin-bottom: 40px;

  &.reversed {
    flex-direction: row-reverse;
  }

  &-description {
    flex: 0 0 40%;
    padding: 0 80px;
    box-sizing: border-box;

    & > h2 {
      width: 80%;
      font-size: 50px;
      font-family: CourierRegular;
      text-transform: none;
      text-decoration: underline;
      text-align: left;
    }

    & > p {
      width: 50%;
      margin-top: 40px;
      font-size: 20px;
      font-family: CourierRegular;
      text-align: left;
    }
  }

  &-image {
    flex: 0 0 60%;
    & > img {
      width: 100%;
      height: auto;
    }
  }
}
